ul {
  background: linear-gradient(BlueViolet, deepPink);
  display: table;
  width: 80%;
  height: 70px;
  margin: auto;
  border-radius: 30px;
  /*reflets*/
  box-shadow: 0 5px 5px rgba(1, 1, 1, .5),
  0 5px 7px rgba(1, 1, 1, .4),
  0 7px 15px rgba(1, 1, 1, .4),
  0 25px 25px rgba(1, 1, 1, .20);
}
ul li {
  display: table-cell;
  text-align: center;
}
ul li a {
  display: block;
  text-align: center;
  color: orange;
  text-decoration-style: double;
  padding: 17px 17px 17px 17px;
}
a {
  color: orange;
  font-weight: bold;
}
/*paramétres pour les lettres en 3D*/
.letter3D {
  margin-left: 30px;
  justify-content: center;
  font-family: "Exo";
  color: #FF1493;
  font-size: calc(31vw / 5);
  /*taille des lettres*/
  letter-spacing: .060em;
  /*paramètre reflet pour mettre les lettres en 3D*/
  text-shadow: 0 0 0 #00BFFF,
  .0025em .0025em 0 #00BFFF,
  .005em .005em 0 #00BFFF,
  .0075em .0075em 0 #00BFFF,
  .01em .01em 0 #00BFFF,
  .0125em .0125em 0 #00BFFF,
  .015em .015em 0 #00BFFF,
  .0175em .0175em 0 #00BFFF,
  .02em .02em 0 #00BFFF,
  .0225em .0225em 0 #00BFFF,
  .025em .025em 0 #00BFFF,
  .0275em .0275em 0 #00BFFF,
  .03em .03em 0 #00BFFF,
  .0325em .0325em 0 #00BFFF,
  .035em .035em 0 #00BFFF,
  .0375em .0375em 0 #00BFFF,
  .04em .04em 0 #00BFFF,
  .0425em .0425em 0 #00BFFF,
  .045em .045em 0 #00BFFF,
  .0475em .0475em 0 #00BFFF,
  .05em .05em 0 #00BFFF,
  .0525em .0525em 0 #00BFFF,
  .055em .055em 0 #DA70D6,
  .0575em .0575em 0 #DA70D6,
  .06em .06em 0 #DA70D6,
  .0625em .0625em 0 #DA70D6,
  .065em .065em 0 #DA70D6,
  .0675em .0675em 0 #DA70D6,
  .07em .07em 0 #DA70D6,
  .0725em .0725em 0 #DA70D6,
  .075em .075em 0 #DA70D6,
  .0775em .0775em 0 #DA70D6,
  .08em .08em 0 #DA70D6,
  .0825em .0825em 0 #DA70D6,
  .085em .085em 0 #DA70D6,
  .0875em .0875em 0 #DA70D6,
  .09em .09em 0 #DA70D6,
  .0925em .0925em 0 #DA70D6,
  .095em .095em 0 #DA70D6,
  .0975em .0975em 0 #DA70D6,
  .1em .1em 0 #DA70D6
}
.letter_3D {
  margin-bottom: 50px;
  margin-right: 170px;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Exo";
  color: #FF1493;
  font-size: calc(31vw / 5);
  /*taille des lettres*/
  letter-spacing: .060em;
  /*paramètre reflet pour mettre les lettres en 3D*/
  text-shadow: 0 0 0 #00BFFF,
  .0025em .0025em 0 #00BFFF,
  .005em .005em 0 #00BFFF,
  .0075em .0075em 0 #00BFFF,
  .01em .01em 0 #00BFFF,
  .0125em .0125em 0 #00BFFF,
  .015em .015em 0 #00BFFF,
  .0175em .0175em 0 #00BFFF,
  .02em .02em 0 #00BFFF,
  .0225em .0225em 0 #00BFFF,
  .025em .025em 0 #00BFFF,
  .0275em .0275em 0 #00BFFF,
  .03em .03em 0 #00BFFF,
  .0325em .0325em 0 #00BFFF,
  .035em .035em 0 #00BFFF,
  .0375em .0375em 0 #00BFFF,
  .04em .04em 0 #00BFFF,
  .0425em .0425em 0 #00BFFF,
  .045em .045em 0 #00BFFF,
  .0475em .0475em 0 #00BFFF,
  .05em .05em 0 #00BFFF,
  .0525em .0525em 0 #00BFFF,
  .055em .055em 0 #DA70D6,
  .0575em .0575em 0 #DA70D6,
  .06em .06em 0 #DA70D6,
  .0625em .0625em 0 #DA70D6,
  .065em .065em 0 #DA70D6,
  .0675em .0675em 0 #DA70D6,
  .07em .07em 0 #DA70D6,
  .0725em .0725em 0 #DA70D6,
  .075em .075em 0 #DA70D6,
  .0775em .0775em 0 #DA70D6,
  .08em .08em 0 #DA70D6,
  .0825em .0825em 0 #DA70D6,
  .085em .085em 0 #DA70D6,
  .0875em .0875em 0 #DA70D6,
  .09em .09em 0 #DA70D6,
  .0925em .0925em 0 #DA70D6,
  .095em .095em 0 #DA70D6,
  .0975em .0975em 0 #DA70D6,
  .1em .1em 0 #DA70D6
}
/*paramétres des paragraphes*/
p {
  color: gray;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
}
/*paramétres de l'image*/
img {
  width: 20%;
  height: 300px;
  float: left;
  border-radius: 20px;
  margin: 20px;
}
h2 {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  margin-left: 10%;
  padding: 10px;
}
.colorSpringGreen {
  color: SpringGreen;
}
ol li {
  color: gray;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
}
.colorTeal {
  color: Teal;
}
.colorCrimson {
  color: Crimson;
}
.colorOrange {
  color: orange;
}
.margin {
  margin-left: 10px;
}
.marginLeft {
  margin-left: 20px;
}
.background_black {
  background-color: black;
  height: 230px;
  width: auto;
  margin: 20px;
  border-radius: 50px;
}
/*.img_dev {
  width: 210px;
  height: 210px;
  margin: 10px;
}*/
.colorDeepSkyBlue {
  color: deepSkyBlue;
}
.presentation {
  background-color: deepSkyBlue;
  color: black;
  margin: 50px;
  margin-left: 250px;
  border-radius: 50px;
  text-align: center;
}
.goal {
  background-color: red;
  color: black;
  margin: 50px;
  margin-left: 1px;
  border-radius: 50px;
  text-align: center;
}
.language {
  background-color: yellow;
  color: black;
  margin: 50px;
  margin-left: 1px;
  border-radius: 50px;
  text-align: center;
}
.assets {
  background-color: deepPink;
  color: black;
  margin: 50px;
  margin-left: 1px;
  border-radius: 50px;
  text-align: center;
}
.information {
  background-color: orange;
  color: black;
  margin: 50px;
  margin-left: 1px;
  border-radius: 50px;
  text-align: center;
}
.hand {
  animation-name: hand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.parameter_hand {
  color: red;
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 120px;
  margin-left: 90px;
}
.parameter_hand2 {
  color: orange;
  display: flex;
  flex-direction: row-reverse;
  float: right;
  margin-top: 30px;
  margin-right: 90px;
}
@-webkit-keyframes hand {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -8deg);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 8deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -8deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 8deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -8deg);
  }
}
@-moz-keyframes hand {
  from {
    -moz-transform: rotate3d(0, 0, 1, -8deg);
  }
  30% {
    -moz-transform: rotate3d(0, 0, 1, 8deg);
  }
  50% {
    -moz-transform: rotate3d(0, 0, 1, -8deg);
  }
  80% {
    -moz-transform: rotate3d(0, 0, 1, 8deg);
  }
  to {
    -moz-transform: rotate3d(0, 0, 1, -8deg);
  }
}
@-o-keyframes hand {
  from {
    -o-transform: rotate3d(0, 0, 1, -8deg);
  }
  30% {
    -o-transform: rotate3d(0, 0, 1, 8deg);
  }
  50% {
    -o-transform: rotate3d(0, 0, 1, -8deg);
  }
  80% {
    -o-transform: rotate3d(0, 0, 1, 8deg);
  }
  to {
    -o-transform: rotate3d(0, 0, 1, -8deg);
  }
}
